# Drone Grid companion configuration.
# Populate the values. The env file will be copied to /etc/drone-grid/companion.env by the install script.

DRONE_ID=
DRONE_SECRET=

CONTROL__CONNECTION_URL=udpin://0.0.0.0:14540
CONTROL__MESSAGING_URL=wss://api.drone-grid.com/api/v1/companion

VIDEO__SOURCE__TYPE=rpicam
VIDEO__MEDIA_SERVER_URL=media.drone-grid.com:443
VIDEO__SECURE=true
# Optional camera params to override
# VIDEO__SOURCE__WIDTH=1280
# VIDEO__SOURCE__HEIGHT=720
# VIDEO__SOURCE__BITRATE=3m
# VIDEO__SOURCE__VFLIP=true
# VIDEO__SOURCE__HFLIP=true
